<h1>About</h1>
<p>
	<%= link_to "The Best of the Best", "http://css-tricks.com/gallery/page/3/" %>
	The few who stand up to GODS
	<%= link_to "We are the Legends that created this World!", "http://css-tricks.com/gallery/page/3/" %>
	And killed everyone that stood in our way!ROAR!
</p>