<div class="footer">
	<small>
		<%= link_to "HELL", "http://www.raywenderlich.com/20881/beginning-auto-layout-part-1-of-2"%> by THE COOLEST NIGGA
		<%= link_to "ueco", "http://www.raywenderlich.com/20881/beginning-auto-layout-part-1-of-2"%>
	</small>
</div>